.widget-actionbutton {
    border: 1px solid rgba(0,0,0,0.1);
    text-shadow: 0 0 2px #fff;
    border-radius: 4px;
    color: rgba(0,0,0,0.75);
    font-size: 12px;
    font-weight: bold;
    padding: 3px 10px;
    box-shadow: 0 0 1px #fff;
    background-color: rgba(0,0,0,0.025);
    line-height: 1.2em;
    white-space: nowrap;
}
.widget-actionbutton:hover {
    border-color: rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.8);
}
.calendar-event-agenda > table{
	width:100%;
}

.calendar-detailed-view h2{
	text-align:center;
	font-size:2em;
	padding:5px 0;
}
.calendar-detailed-view .calendar-button-print{
	float:right;
}
.calendar-detailed-view .calendar-event-box{
	padding-bottom:25px;
	page-break-inside:avoid;
}
.calendar-detailed-view .calendar-event-agenda{
	padding:8px;
	border-top:1px dotted rgba(0,0,0,0.25);
}
.calendar-detailed-view .calendar-agenda-name{
    width:35%;
}
.calendar-order-editor-titlebox{
    width: 100%;
}
.calendar-order-editor-titlebox .calendar-usedefault-button{
	float:right;
}
.calendar-detailed-view .calendar-event-hours{
	font-weight:bold;
}
.calendar-detailed-view .calendar-event-details{
	padding-left:2em;
}
.calendar-detailed-view-print a.edit-event{
   display:none;
}

@media print{
	.calendar-detailed-view h2{
	   font-size:1.2em;
	   padding:2px 0;
	}
	.calendar-detailed-view .calendar-event-agenda{
        padding:4px;
	}
	.calendar-detailed-view .calendar-agenda-name{
	    width:50%;
	}
	.rm-printlink{
	   display:none;
	}
	.calendar-detailed-view .calendar-agenda-name *{
	   backgorund-color:none!important;
	   color:black;
	}
}